


/* this is the style sheet for all docs in kylejennings */




/* This is the end of the sane reset ------------------------------------------------ */
body {
  background-color: black;
}
h2 {
  color: red;
}

.navigation .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:0;
  flex-wrap: wrap;
}


.navigation {
padding: 10px;
background-color: red;
}

.navigation > ul > li {
position: relative;
list-style: none;
display: inline;
margin: 5px;
}

.navigation .dropdown {
position: absolute;
top: 18px;
right: -18px;
padding: 10px;
display: none;
}

.navigation .dropdown li {
margin: 10px;
}

.navigation a:hover + .dropdown,
.dropdown:hover {
display: block;
}

.header {
padding: 25px;
background-color: red;
}

.header {
color: #2e004d;
}

.header h2 + h3 {
color: #2e004d;
}


.content {
background-color: lightgrey;
padding: 50px;
}

.footer {
padding: 10px;
background-color: red;
}

.extra-pink {
color: red;
}

#subheader {
font-style: italic;
color: red;
font-weight: 500;
}

label {
  font-size: 26px;
  color: red;
}
