
/* SEARCH KBANNER ETC. FOR
spotlightmenu
DESKTOP
NAVBUBBLES
content
DESKTOP < UL
*/

/* this is the style sheet for PORTFOLIO PROJECT */
/* this is the style sheet for all docs in kylejennings */

/* div classes to keep track of
navigation
banner
splash
desktop

page-wrap
content-wrap
content
*/

/* Color scheme

 RGB(73, 144, 219); light blue
 RGB(168, 189, 217); lightest blue/grey
 rgb(4, 1, 32); darkest blue/black
 #fff;
#369;   mid dark blue
#344583; mid blue
RGB(204,204,204); light gray

/* This is the end of the sane reset ------------------------------------------------ */



body {
  /*background-image:url('https://drive.google.com/uc?export=view&id=id=1KvtIbFEhbtzM4kOGHZVpzcpvIR4lOj9N'); */
  background-image: url(https://drive.google.com/uc?export=view&id=1KvtIbFEhbtzM4kOGHZVpzcpvIR4lOj9N);
  /*background-color: RGB(168, 189, 217); */
  /* */
   font-size: calc(16px + 1vw);
  line-height: calc(1.1em + 0.5vw);
}

/* THIS IS THE END OF FONT / STYLING */
/* beginning of experimental menu */

h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 3.0vw;
}

p {
  font-size: 2vw;
}

/* media queries begin
@media only screen and (max-width: 414px)  {
}

@media all and (max-width: 599px){
}

@media all and (min-width: 600px) and (max-width:799px){
}

@media all and (min-width: 700px) and (max-width:1024px){
}
*/
h1 {
  font-size: 22px;
}
@media (min-width:576px) {
  h1 {
    font-size: 22px;
  }
}
@media (min-width:768px) {
  h1 {
    font-size: 24px;
  }
}
@media (min-width:992px) {
  h1 {
    font-size: 34px;
  }
}

/* SPOTLIGHT MENU @media */

  @media only screen and (max-width: 414px)  {

 .banner {
    background-image: url("http://res.cloudinary.com/kodesign/image/upload/c_scale,e_blue:0,w_321/v1517505492/mobilebanner_sx8ng3.jpg");
    width: 120%;
  };
  .spotlightmenu ul{
  margin: 20px;
  padding: 20px;
  font: bold 3em
};
  .fa {
    color: white;
  };
  .desktop {
    display: inline-flex;
    justify-content: space-around;
  };
}

@media all and (max-width: 599px){
  .banner {
     background-image: url("http://res.cloudinary.com/kodesign/image/upload/e_colorize:0,r_30/a_0/v1516990751/mobilebanner350_s7b12m.jpg");
     width: 80vw;
   };
   .spotlightmenu ul{
   margin: 20px;
   padding: 20px;
   font: bold 3em
 };
 .spot-top{
   color: white;
 }
   .fa {
     color: white;
     font-size: 10vw;
   };
   .desktop {
     display: inline-flex;
     justify-content: flex-start;
     padding-left: 3em;
   };
   .navbubbles h4 {
     flex-shrink: 4;
     flex-wrap: wrap;
   }
}
@media all and (min-width: 600px) and (max-width:799px){
  .banner {
     background-image: url("http://res.cloudinary.com/kodesign/image/upload/e_colorize:0,r_30/a_0/v1516990751/mobilebanner350_s7b12m.jpg");
     height: 100vw;
     width: 80vw;
   };
   .spotlightmenu ul{
   margin: 20px;
   padding: 20px;
   font: bold 3em;
 };
 .spot-top{
   color: white;
 }
   .fa {
     color: white;
        font-size: 10vw;
   };
   .desktop {
     display: inline-flex;
     justify-content: flex-start;
     padding-left: 3em;
   };

}

@media all and (min-width: 700px) and (max-width:1024px){
  .banner {
     background-image: url("http://res.cloudinary.com/kodesign/image/upload/e_colorize:0,r_30/a_0/v1516990751/mobilebanner350_s7b12m.jpg");
     height: 100vw;
     width: 80vw;
};
.desktop i {
  width: 3vw;
  height: 3vw;
  display: inline-flex;
  justify-content: flex-start;
  padding-left: 3em;
};
}

/* END MEDIA QUIERIES */

.spotlightmenu{
width: 100%;
overflow:hidden;
background-image: url('https://drive.google.com/uc?export=view&id=1KvtIbFEhbtzM4kOGHZVpzcpvIR4lOj9N');
}
.spot-top{
  color: white;
}

/
.spotlightmenu ul{

margin: 1vw;
padding: 1vw;
font: bold 3vw sans-serif; /* font style and size */
font-decoration-color: red;
list-style-type: none;
text-align: justify-all; /* "left", "center", or "right" align menu */
}

.spotlightmenu li{
display: inline-flex;
flex: flex-wrap;
position:relative;
padding: 5px;
margin: 0;
margin-right: 100px; /* right margin between menu items */
}

.spotlightmenu li a{
display:inline-block;
padding: 5px;
min-width:75px; /* horizontal diameter of spotlight */
height:75px; /* vertical diameter of spotlight */
text-decoration: none;
color: #344583;
margin: 0 auto;
overflow:hidden;
-moz-transition: all 0.5s ease-in-out; /* CSS3 transition to animate all A properties */
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.spotlightmenu li:hover a{
color: white;
background:  RGB(73, 144, 219); /* background color of spotlight */
-webkit-border-radius: 50%; /* large radius to create circular borders */
-moz-border-radius: 50%;
border-radius: 50%;
}

.spotlightmenu li a span{
position:relative;
top:35%; /* move text down so it appears centered within menu item */
}

/* BANNER */
.banner {
    width: 100%;
    height: 40vw;
    background-image: url("https://drive.google.com/uc?export=view&id=1lIgI768s8UOjLtFyUAyGJxQdC2NOzgAr");
    @media queries
    margin: 0 .5vw 0 .5vw;
    background-size: cover;
    border: .5vw solid blue;
    display: flex;
    justify-content: center;
    align-items: left;
    overflow: hidden;
    position: relative;
  }

  @media only screen and (max-width: 320px){

   .banner{
      background-image: url("http://res.cloudinary.com/kodesign/image/upload/e_colorize:0,r_30/a_0/v1516990751/mobilebanner350_s7b12m.jpg");
      height: 100vw;
      width: 100vw;
   };
   .spot-top{
     color: white;
   }
};

@media only screen and (max-width: 480px){

 .banner{
    background-image: url("http://res.cloudinary.com/kodesign/image/upload/e_colorize:0,r_30/a_0/v1516990751/mobilebanner350_s7b12m.jpg");

 };
 .spot-top{
   color: white;
 }
}


/* BANNER @MEDIA */



/* NAVBUBBLES */


/* NAVBUBBLES @MEDIA */



/* "JUMBOTRON" */


  /*
  background-image: url("https://drive.google.com/uc?export=view&id=1lIgI768s8UOjLtFyUAyGJxQdC2NOzgAr");
  background-size: cover;
  width: ;
  height:;
  border-style: ridge;
  border-width: thick;
  border-color: blue; */


banner > img {
background-size: contain;
flex-shrink: 0;
min-width: 100%;
min-height: 100%
}

banner  .desktop ul li {
  margin: 1vw;
  padding: 1vw;
  width: 3vw;
  height: 3vw;

}

/* THIS IS THE FA ICONS */
.desktop {
  position: absolute;
  left: 10px;
  top: 140px;
}

.desktop > ul {
  margin: 0;
  padding: 0;
}

.desktop > ul > li {
  display:inline-flex;
  justify-content: left;
}

.desktop > ul > li > a {
  padding: .2em 1em;
  margin: 10px;
  }

  .desktop ul li a:hover
{
color: #fff;
background-color: #369;
}

/* END OF FA ICONS */
/*  END OF "JUMBOTRON"
   START OF ".deskbar / .navbubbles / #navreact"
 */

 /*  grid-template-columns: 1fr 1fr 1fr; */


form {
  color: RGB(168, 189, 217);
  font-family: sans-serif;
  font-size: 36px;
}

#content {
  min-width: 80vw;
  min-height: 80vw;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: RGB(73, 144, 219);
    background-color:rgb(4, 1, 32);
}

#content img {

  justify-content: center;
  padding: 10px;
  margin: 10px;
}

#content p {
  color: RGB(73, 144, 219);
  font-family: sans-serif;
  font-size: large;
  text-decoration-color: rgb(4, 1, 32);
/*  line-height: 1.4;
  text-indent: 5vw;
  font-size: 2.54829vmax;
  font-weight: 500; */
}

#content ul li {
  color: RGB(73, 144, 219);
  font-family: sans-serif;
  font-size: 48px;
  text-decoration-color: RGB(73, 144, 219);

}

 .navbubbles {
   background-color: rgb(4, 1, 32);
   border-style: solid;
   border-color: rgb(4, 1, 32);
     display: table;
     table-layout: fixed;
     width: 100%;
     max-width: 100%;
     margin: 0 auto;
     padding-bottom: 5px;
     padding-left: 0;
   }

   .navbubbles li {
     vertical-align: middle;
     display: table-cell;
     font-size: \1.00vw;
     font-weight: 300;
   }


 .navbubbles li {
   text-align: center;
   font-family: Lato,Sans-Serif;
   color: #fff;
}

.navreact a,
.navreact span {
  color: #344583;
}

.navreact a:hover {
color: #fff;
background-color: #369;
}

/* End of navbubbles */

#page-wrap{
  border-color: rgb(4, 1, 32);

}

#content {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: .3vw  rgb(4, 1, 32);
  border-radius: 15px;
}

  #content img {
    max-width: 80%;
    max-height: 80%;
  }
 @media only screen and (max-width: 414px)  {
   #content-wrap {
     width: 100vw;
     height: 80vw;
   }
   #content {
     width: 100vw;
     height: 80vw;
   }
   #content img {
     width: 100vw;
    height: 80vw;
  }
}

@media all and (max-width: 599px){
  #content-wrap {
    width: 100vw;
    height: 0vw;
  }
  #content {
    width: 100vw;
    height: 60vw;
  }
  #content img {
    width: 100vw;
   height: 60vw;
 }
}

@media all and (min-width: 600px) and (max-width:799px){
  #content-wrap {
    width: 100vw;
    height: 80vw;
  }
  #content {
    width: 100vw;
    height: 40vw;
  }
  #content img {
    width: 100vw;
   height: 80vw;
 }
}
#content p {
  font-size: :large;
}

@media all and (min-width: 700px) and (max-width:1024px){
  #content-wrap {
    width: 80vw;
    height: 80vw;
  }

  #content img {
    width: 80vw;
   height: 80vw;
 }
}

#content {
  height: 80vw;
  width: 80vw;
  padding: 2.5vmax;

}


#content h4 h3 h2 h1 p {
  font-size: 3em;
  text-align: center;
  text-decoration-color: #59556a;
}


#content li {
  height: 100%;
  width: 100%
  font-size: 3em;
  padding-left: 4vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#content a {
  border-bottom: .2vw solid;
}



/*content header with glow display*/

#glow  {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 53px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(14,62,94,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px rgba(0,21,255,1) , 0 0 70px #0033ff , 0 0 80px #0019ff , 0 0 100px #2e00ff ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


#glow:hover {
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}



/*
#content > div ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#content > div ul li { display: inline; }

#navcontainer > div ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#content > div ul li a:hover
{
color: #fff;
background-color: #369;
}

*/

.footer {
padding: 10px;
background-color: red;
}
